* {
    margin: 0;
    padding: 0;
}

.pai h1+p {/*h1~p = todos*/
    background-color: red;
    
}

[meu-atributo="valor"] {
    background-color: blue;
}

[checked] {
    width: 100px;
    height: 100px;
}